body{
    background-color: rgb(1, 1, 54);
    margin: 0;
}

.bPic{
    position: absolute; 
    z-index: -999;
   
    
}

.bPic img{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    opacity: 0.1;
    
}

#mainContainer{
    /* background-color: rgba(66, 159, 235, 0.8); */
    background-image: url(brickwall2.jpg);
    width: 1200px;
    height: 850px;
    margin: auto;
    margin-top: 35px;
    padding-top: 25px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:'. winAnnouncer winAnnouncer winAnnouncer resetButton resetButton' 
                        '. gridContainer gridContainer gridContainer winHistory winHistory'
                        '. gridContainer gridContainer gridContainer winHistory winHistory'
                        '. gridContainer gridContainer gridContainer winHistory winHistory'
                        '. gridContainer gridContainer gridContainer winHistory winHistory'
                        '. . . . . .'  ;
                        
}

#gridContainer{
    grid-area: gridContainer;
    background-color:rgb(190, 50, 255);
    width: 595px;
    height: 595px;
    /* margin: auto; */
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'g11 g12 g13'
                         'g21 g22 g23'
                         'g31 g32 g33';
    grid-gap: 10px;
    font-size: 180px;
    margin-top: 35px;
    border-radius: 0.1rem;
    font-family: neon;
    color: white;
}

#gridContainer > div {
    background-image: url(brickwall2.jpg); 
    width: 192px;
    height: 192px;
  }

#g11, #g12, #g13, #g21, #g22, #g23, #g31, #g32, #g33{
    box-sizing: border-box;
    padding-left: 30px;
} 

#g11{
    grid-area: g11;
}
#g12{
    grid-area: g12;
}
#g13{
    grid-area: g13;
}
#g21{
    grid-area: g21;
}
#g22{
    grid-area: g22;
}
#g23{
    grid-area: g23;
}
#g31{
    grid-area: g31;
}
#g32{
    grid-area: g32;
}
#g33{
    grid-area: g33;
}

#winAnnouncer{
    grid-area: winAnnouncer;
    width:  685px;
    height: 100px;
    /* background-color: cadetblue; */
    font-size: 80px;
    align-items: center;
    justify-content: center;
    display: flex;
    align-self: center;
    justify-self: center;
    font-family: neon;
    /* color:rgb(190, 50, 255); */
    color: white;
}

#resetButton{
    grid-area: resetButton;
    width: 100px;
    height: 100px;
    background-color: crimson;
    margin: auto;
    display: flex;    
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-family: neon;
    color: white;
}

#resetButton:hover{
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

#winHistory{
    grid-area: winHistory;
    width: 220px;
    height: 300px;    
    justify-self: center;
    align-self: center;
    font-size: 30px;
    color: white;
    font-family: neon;
}

#wHead{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
#xWins, #oWins{
    margin-left: 20px;
}

.pulser{
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes pulse{
    0% {
        background-color: crimson;
        color: white;
    }
    50% {
        background-color: rgb(104, 9, 9);
        color: black;
    }
    100% {
        background-color: crimson;
        color: white;
    }
}

@font-face{
    font-family: neon;
    src: url(NeonTubes2.otf);
}

.neon-text-purpule{
    text-shadow: 
  .1vw 0vw .25vw #cc75ff, .2vw 0vw .25vw #cc75ff, .4vw 0vw .25vw #cc75ff, 
  .1vw 0vw   0vw #b735df, .2vw 0vw   0vw #b735df, .4vw 0vw   0vw #b735df,
  .1vw 0vw  .1vw #b735df, .2vw 0vw  .1vw #b735df, .4vw 0vw  .1vw #b735df,
  .1vw 0vw   2vw #b735df, .2vw 0vw   2vw #b735df, .4vw 0vw   2vw #b735df, 
  .1vw 0vw   1vw #7d00a3, .2vw 0vw   1vw #7d00a3, .4vw 0vw   1vw #7d00a3, 
  .1vw 0vw   1vw #7d00a3, .2vw 0vw  1vw #7d00a3, .4vw 0vw  5vw #7d00a3,
  .1vw 0vw  1vw #7d00a3, .2vw 0vw  10vw #7d00a3, .4vw 0vw  5vw #7d00a3;
}
.neon-text-blue{
    text-shadow: 
  .1vw 0vw .25vw #757eff, .2vw 0vw .25vw #757eff, .4vw 0vw .25vw #757eff, 
  .1vw 0vw   0vw #3546df, .2vw 0vw   0vw #3546df, .4vw 0vw   0vw #3546df,
  .1vw 0vw  .1vw #3546df, .2vw 0vw  .1vw #3546df, .4vw 0vw  .1vw #3546df,
  .1vw 0vw   2vw #3546df, .2vw 0vw   2vw #3546df, .4vw 0vw   2vw #3546df, 
  .1vw 0vw   1vw #0003a3, .2vw 0vw   1vw #0003a3, .4vw 0vw   1vw #0003a3, 
  .1vw 0vw   1vw #0003a3, .2vw 0vw  1vw #0003a3, .4vw 0vw  5vw #0003a3,
  .1vw 0vw  1vw #0003a3, .2vw 0vw  10vw #0003a3, .4vw 0vw  5vw #0003a3;
}

.neon-text-red{
    text-shadow: 
    .1vw 0vw .25vw #ffd8d8, .2vw 0vw .25vw #ffd8d8, .4vw 0vw .25vw #ffd8d8, 
    .1vw 0vw   0vw #f25757, .2vw 0vw   0vw #f25757, .4vw 0vw   0vw #f25757,
    .1vw 0vw  .1vw #f25757, .2vw 0vw  .1vw #f25757, .4vw 0vw  .1vw #f25757,
    .1vw 0vw   2vw #f25757, .2vw 0vw   2vw #f25757, .4vw 0vw   2vw #f25757, 
    .1vw 0vw   1vw #e50b0b, .2vw 0vw   1vw #e50b0b, .4vw 0vw   1vw #e50b0b, 
    .1vw 0vw   1vw #e50b0b, .2vw 0vw  1vw #e50b0b, .4vw 0vw  5vw #e50b0b,
    .1vw 0vw  1vw #e50b0b, .2vw 0vw  10vw #e50b0b, .4vw 0vw  5vw #e50b0b;  
}

.neon-wrapper-red{
    box-shadow: 0 0 0.1vw  0.4vw #fff7f7,   
    0 0 0.4vw  0.6vw #e97272, 
    0 0   4vw  0.4vw #e50b0b,
    inset 0 0 1.5vw  0.4vw #e50b0b,
    inset 0 0 0.4vw  0.2vw #e97272,
    inset 0 0 0.5vw  0.2vw #fff7f7;
}

.neon-wrapper-blue{
    box-shadow: 0 0 0.1vw  0.4vw #fff7f7,   
    0 0 0.4vw  0.6vw #7a72e9, 
    0 0   4vw  0.4vw #210be5,
    inset 0 0 1.5vw  0.4vw #0b1ae5,
    inset 0 0 0.4vw  0.2vw #7472e9,
    inset 0 0 0.5vw  0.2vw #fff7f7;
    border-radius: 1.5rem;
}

.neon-wrapper-green{
    box-shadow: 0 0 0.1vw  0.4vw #fff7f7,   
    0 0 0.4vw  0.6vw #72e97c, 
    0 0   4vw  0.4vw #0be54c,
    inset 0 0 1.5vw  0.4vw #0be528,
    inset 0 0 0.4vw  0.2vw #72e986,
    inset 0 0 0.5vw  0.2vw #f7fff7;
    border-radius: 1.5rem;
}