#mainContainer{
    background-color: antiquewhite;
    width: 1200px;
    height: 100vh;
    margin: auto;
    padding-top: 25px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:'. winAnnouncer winAnnouncer winAnnouncer resetButton resetButton' 
                        '. gridContainer gridContainer gridContainer winHistory winHistory'
                        '. gridContainer gridContainer gridContainer winHistory winHistory'
                        '. gridContainer gridContainer gridContainer winHistory winHistory'
                        '. gridContainer gridContainer gridContainer winHistory winHistory'
                        '. . . . . .'  ;
}

#gridContainer{
    grid-area: gridContainer;
    background-color:black;
    width: 585px;
    height: 585px;
    /* margin: auto; */
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'g11 g12 g13'
                         'g21 g22 g23'
                         'g31 g32 g33';
    grid-gap: 5px;
    font-size: 180px;
}

#gridContainer > div {
    background-color: white;    
    width: 192px;
    height: 192px;
  }

#g11, #g12, #g13, #g21, #g22, #g23, #g31, #g32, #g33{
    box-sizing: border-box;
    padding-left: 30px;
} 

#g11{
    grid-area: g11;
}
#g12{
    grid-area: g12;
}
#g13{
    grid-area: g13;
}
#g21{
    grid-area: g21;
}
#g22{
    grid-area: g22;
}
#g23{
    grid-area: g23;
}
#g31{
    grid-area: g31;
}
#g32{
    grid-area: g32;
}
#g33{
    grid-area: g33;
}

#winAnnouncer{
    grid-area: winAnnouncer;
    width:  685px;
    height: 100px;
    background-color: cadetblue;
    font-size: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    align-self: center;
    justify-self: center;
}

#resetButton{
    grid-area: resetButton;
    width: 190px;
    height: 100px;
    background-color: crimson;
    margin: auto;
}

#winHistory{
    grid-area: winHistory;
    width: 190px;
    height: 585px;
    background-color: darkgreen;
    margin: auto;
}